# Play-space for `intake_dataframe_catalog

In [1]:
import intake

## Create a DF Catalog

In [2]:
from intake_dataframe_catalog.core import DFCatalogModel

In [3]:
dfcat = DFCatalogModel(metadata_columns=["meta"])

In [4]:
cat = intake.open_csv("test.csv")

In [5]:
for i in range(3):
    cat.name = f"csv{i}"
    dfcat.add(cat, metadata={"meta": i})

In [6]:
dfcat.save("dfcat")

## Use the DF Catalog

In [7]:
dfcat = intake.open_df_catalog("dfcat.csv")

In [8]:
dfcat.df

   name  meta                                               yaml
0  csv0     0  sources:\n  csv0:\n    args:\n      urlpath: t...
1  csv1     1  sources:\n  csv1:\n    args:\n      urlpath: t...
2  csv2     2  sources:\n  csv2:\n    args:\n      urlpath: t...

In [10]:
subcat = dfcat["csv0"]
subcat

csv0:
  args:
    urlpath: test.csv
  description: ''
  driver: intake.source.csv.CSVSource
  metadata:
    catalog_dir: ''

In [20]:
subcat.read()

  first_name  last_name
0        joe      blogs
1       jane        doe

In [19]:
dfcat["csv0"](csv_kwargs={"include_path_column":True}).read()

  first_name  last_name                                               path
0        joe      blogs  /Users/squ027/Documents/work/active_projects/i...
1       jane        doe  /Users/squ027/Documents/work/active_projects/i...