# Play-space for `intake_dataframe_catalog

In [1]:
%cd /g/data/tm70/ds0092/software/intake-dataframe-catalog

/g/data/tm70/ds0092/software/intake-dataframe-catalog

In [2]:
import intake

## Create a DF Catalog using `add`

In [3]:
from intake_dataframe_catalog.core import DFCatalogModel

In [4]:
dfcat = DFCatalogModel(metadata_columns=["meta"])

In [5]:
cat = intake.open_csv("test.csv")

In [6]:
for i in range(3):
    cat.name = f"csv{i}"
    dfcat.add(cat, metadata={"meta": i})

In [7]:
dfcat.save("dfcat")

In [8]:
dfcat.search(meta=[0, 1])

   name meta                                               yaml
0  csv0    0  sources:\n  csv0:\n    args:\n      urlpath: t...
1  csv1    1  sources:\n  csv1:\n    args:\n      urlpath: t...

## Create a DF Catalog directly from a dict

In [9]:
entries = []
for i in range(3):
    cat.name = f"csv{i}"
    entries.append({"cat": cat, "meta": i})

In [10]:
dfcat = DFCatalogModel.from_dict(entries, cat_key="cat")

In [11]:
dfcat.df

   name meta                                               yaml
0  csv2    0  sources:\n  csv2:\n    args:\n      urlpath: t...
1  csv2    1  sources:\n  csv2:\n    args:\n      urlpath: t...
2  csv2    2  sources:\n  csv2:\n    args:\n      urlpath: t...

## Use the DF Catalog

In [12]:
dfcat = intake.open_df_catalog("dfcat.csv")

In [13]:
dfcat.df

   name  meta                                               yaml
0  csv0     0  sources:\n  csv0:\n    args:\n      urlpath: t...
1  csv1     1  sources:\n  csv1:\n    args:\n      urlpath: t...
2  csv2     2  sources:\n  csv2:\n    args:\n      urlpath: t...

In [14]:
subcat = dfcat["csv0"]
subcat

csv0:
  args:
    urlpath: test.csv
  description: ''
  driver: intake.source.csv.CSVSource
  metadata:
    catalog_dir: ''

In [15]:
subcat.read()

  first_name  last_name
0        joe      blogs
1       jane        doe

In [16]:
dfcat["csv0"](csv_kwargs={"include_path_column":True}).read()

  first_name  last_name                                               path
0        joe      blogs  /g/data/tm70/ds0092/software/intake-dataframe-...
1       jane        doe  /g/data/tm70/ds0092/software/intake-dataframe-...

In [17]:
dfcat.serialize("dfcat2")

## Write to a yaml

In [20]:
dfcat.name = "dfcat"
yaml_text = dfcat.yaml()
print(yaml_text)
with open("./dfcat.yaml", mode="wt") as f:
    f.write(yaml_text)

sources:
  dfcat:
    args:
      path: dfcat.csv
    description: ''
    driver: intake_dataframe_catalog.core.DFFileCatalog
    metadata: {}

In [22]:
cat = intake.open_catalog("dfcat.yaml")

In [25]:
cat.dfcat.df

   name  meta                                               yaml
0  csv0     0  sources:\n  csv0:\n    args:\n      urlpath: t...
1  csv1     1  sources:\n  csv1:\n    args:\n      urlpath: t...
2  csv2     2  sources:\n  csv2:\n    args:\n      urlpath: t...